:root {
  --background: #ffffff;
  --foreground: #171717;
  --radius-lg: 12px;
  --red:  #ee1919;
  --glass-bg: rgba(255, 255, 255, 0.25);
  --glass-border: rgba(255, 255, 255, 0.3);
  --shadow-lg: 0 20px 40px rgba(0, 0, 0, 0.25);
}
