@use "../styles/variables" as *;
@use "../styles/mixins" as *;


@tailwind base;
@tailwind components;
@tailwind utilities;


/* Base styles */
html,
body {
  height: 100%;
  // background: #000;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

/* macOS glass helper */
.glass {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

